/* BASIC STYLES HERE */
.bg-city {
   background-image: url('../img/citybackground.jpg');
   background-position: center;
   background-size: cover;
}

.product-img {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center top;
   height: 50vh;
   min-width: 15vw;
}

.cart-img {
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   height: 40vh;
   max-width: 15vw;
}